* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

ul {
    list-style: none;
}
li {
 list-style: none;
}
a {
    text-decoration:none;
}
/* Portada */

.header {
    text-align: center;
    background-color: tomato;
    padding: 15px;
}
